$color-accent: #0c4906
$color-text: #000000
$color-text-alt: #333333
$color-border: rgba(255, 255, 255, 0.30)
$color-background-alt: #FFFFFF
$color-background: #FFFFFF

$body-font-family: "Adelphe", serif
$heading-font-family: $body-font-family

$h1-weight: normal
$h3-weight: normal
$body-size-desktop: px2rem(22)
$body-size: px2rem(18)
$lead-hero-size-desktop: $body-size-desktop
$lead-hero-size: $body-size

$header-border-bottom-width: 0
$header-sticky-enabled: false
$header-dropdown-full: true
$body-overlay-color: transparent
$lightbox-overlay-color: $color-background
$lightbox-backdrop: none

$block-gallery-carousel-max-height: calc(100vh - #{pxToRem(50)})