$color-accent: #0c4906
$color-text: #000000
$color-text-alt: #333333
$color-border: rgba(255, 255, 255, 0.30)
$color-background-alt: #FFFFFF
$color-background: #FFFFFF

$body-font-family: "Adelphe", serif
$heading-font-family: $body-font-family

$h1-weight: normal
$h3-weight: normal

$header-background: transparent
$header-border-bottom-width: 0