.logo
    text-decoration: none !important
    text-transform: none
    font-size: px2rem(30)

h1
    font-style: italic

.page__home
    .hero
        min-height: 0
        h1,
        hgroup,
        .lead
            display: none

.block-pages
    .page-title
        line-height: 100% !important
    .page 
        .more
            opacity: 0 !important

.glightbox-clean 
    .gnext, 
    .gprev, 
    .gclose
        color: black
        background: none
        &:hover
            background: none

@include media-breakpoint-up(desktop)
    .page-hero
        position: fixed
        bottom: 0
        left: 0
        width: col(3)
        padding: $spacing2
        h1
            @include h3
            padding-bottom: $spacing0
        p
            @include small

@include media-breakpoint-up(desktop)
    header#document-header
        width: col(3)
        transform: none !important
        .container
            padding-left: $spacing2
            padding-right: $spacing2
        nav
            padding-top: $spacing2
            padding-bottom: 0
            > .container
                display: block
                .nav-level-1
                    display: block
                    li, li:last-child
                        a, span
                            padding-top: $spacing1
                            padding-left: 0
                            &.active
                                font-style: italic
                .dropdown-menu
                    padding-top: $spacing0
                .nav-level-2
                    display: block
                    padding: 0 $spacing2
                    > li a
                        @include small
                    > li:first-child a
                        padding-top: 0
        figure
            display: none !important
    .toc-cta
        display: none !important
    main
        margin-left: col(3)
    footer#document-footer
        > .container:first-child
            display: none
        > .container:nth-child(2)
            padding-top: 0
            justify-content: end
            text-align: right

    .block-gallery
        .splide__slide
            opacity: 0
            transition: opacity 0.3s
        .is-active
            opacity: 1
        .is-moving
            .splide__slide
                opacity: 0

    .document-content > .blocks > .block:first-child
        &:not(.block-gallery--carousel)
            margin-top: $spacing3

    #dropdown-menu
        &::after
            display: none
        @include icon-block(burger)
            color: $color-text !important
            margin-left: pxToRem(-12)
        &[aria-expanded="true"]
            @include icon-block(close)
