.logo
    text-decoration: none !important
    text-transform: none
    font-size: px2rem(30)

h1
    font-style: italic

.page__home
    .hero
        min-height: 0
        h1,
        hgroup,
        .lead
            display: none

.block-pages
    .page-title
        line-height: 100% !important
    .page 
        .more
            opacity: 0 !important

.glightbox-clean 
    .gnext, 
    .gprev, 
    .gclose
        color: black
        background: none
        &:hover
            background: none

@include media-breakpoint-up(desktop)
    header#document-header
        width: col(3)
        nav
            padding-top: $spacing3
            > .container
                display: block
                .nav-level-1
                    display: block
                    li
                        a
                            padding-top: $spacing1
                            padding-left: 0
                            &.active
                                font-style: italic
    .hero
        padding-top: $spacing3
        min-height: 0
        .content
            display: block
            padding-top: 0
            h1,
            hgroup
                width: 100%
                margin-top: 0
        figure
            display: none !important
    .toc-cta
        display: none !important
    main
        margin-left: offset(3)
    footer#document-footer
        margin-top: $spacing5